body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.flexible-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.top-section{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}
.half-width{
    width: 40%;
    margin-left:20px;
    margin-top: 115px;
}
.top-sec-img{
    width: 80%;
}
h2{
    font-size: 40px;
    
}
.color-name{
    color: darkorange;
    font-weight: bold;

}
.thin-font{
    font-weight: 100;
    margin-bottom: -20px;
}
.link-btn{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#d63031, #d35400);
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}
p{
    line-height: 1.5;
}
.bio-head{
    font-size: 40px;
    font-weight: 400;
}
.bio-section{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}
.work-img{
    width: 300px;
    margin-right: 30px;
}
.work-section{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.work-head-text{
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 80px;
}
.client-section{
    text-align: center;
    padding-bottom: 150px;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}
.msg-area{
    background-image: linear-gradient( #ED4C67, #B53471);
    width: 500px;
    padding: 10px 0px;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
}
.client-sec-text{
    width: 380px;
    margin: 0px auto 50px;
}
h4{
    font-weight: normal;
    color: #504d4d;
}
h3{
    font-weight: normal;
    margin-bottom: -20px;
}
#text{
    font-size: 40px;
    margin-bottom: 100px;
}
footer p{
    text-align: center;
    color: gray;
}